__pycache__/
*.log

Results/*
!Results/Case_40
!Results/optimaltrajectories.npy

OpenSimModel/*
!OpenSimModel/new_model
OpenSimModel/new_model/*
!OpenSimModel/new_model/experimentalData.npy
!OpenSimModel/new_model/Model

!OpenSimModel/old_model
OpenSimModel/old_model/*
!OpenSimModel/old_model/Model

!OpenSimModel/templates