__pycache__/
*.log

**/Results

OpenSimModel/*
!OpenSimModel/new_model
OpenSimModel/new_model/*
!OpenSimModel/new_model/experimentalData.npy
!OpenSimModel/new_model/Model

!OpenSimModel/old_model
OpenSimModel/old_model/*
!OpenSimModel/old_model/Model

!OpenSimModel/templates